{% extends 'base.html' %}

<!--Navbar-->

{% block nav-btn %}
    <a href="{% url 'data_create' %}" id="btn-nav" class="btn btn-outline-light">Go home</a>
{% endblock nav-btn %}
    
<!--Page content-->

{% block content %}
    <div class="container mt5">
        <h5 class="card p-2 bg-warning text-center mb-3">List Of GENQ Customers</h5>
        <table class="table table-bordered text-light" style="text-align: center;">
            <thead class="table-warning">
                <tr>
                    <th style="width: 10%;">First Name</th>
                    <th style="width: 10%;">Last Name</th>
                    <th style="width: 10%;">Date</th>
                    <th style="width: 10%;">Gender</th>
                    <th style="width: 10%;">Country</th>
                    <th style="width: 10%;">state</th>
                    <th style="width: 10%;">Town</th>
                    <th style="width: 10%;">Zip Code</th>
                    <th style="width: 10%;">Phone 1</th>
                    <th style="width: 10%;">Phone 2</th>
                    <th style="width: 10%;">Email</th>
                    <th colspan="2" style="width: 8%;">Action</th>
                </tr>
            </thead>
            <tbody>
                
                {% for data in data_read %}
                    <tr>
                        <td>{{ data.l_name }}</td>
                        <td>{{ data.phone1 }}</td>
                        <td>{{ data.email }}</td>
                        <td class="bg-warning">
                            <a href="{% url 'data_update' data.id %}" class="btn btn-sm"></a>
                        </td>
                        <td class="bg-secondary">
                            <a href="/data_delete/{{ data.id }}" class="btn btn-sm"></a>
                        </td>
                        {% empty %}
                        <td>
                            <td colspan="6" style="color: #ff7f7f7f">No Record</td>
                        </td>
                    </tr>    
                {% endfor %}
                
            </tbody>
        </table>
    </div>
{% endblock content %}
    